<div class="form-group text-center">
    <h1>
        <i class="fas fa-times-circle text-danger"></i>
    </h1>
    <h3>Oh snap! Something went wrong.</h3>
    <hr>
    We were not able to process the account creation. If your card was charged but your account could not be created please contact our support team at: support@steem.ninja
    <hr>
    <button onclick="window.SteemNinja.close()" class="btn btn-block btn-warning">Thanks! Bye.</button>
</div>