<div class="form-group text-center">
    <h1>
        <i class="fas fa-check-circle text-success"></i>
    </h1>
    <h3>Welcome <span id="finish_username"></span></h3>

    <hr>
    <div id="hideNoSP">Thats it! We created your account and delegated you 15 Steem Power.</div>
    <div id="delegationNotice" class="d-none">Thats it! We created your new account. To make sure that you can start right away please delegate at least 15 Steem Power to the new account. You or someone else can do this with the link below:

        <a href="" id="delegationLink" class="btn mt-2 btn-ninja btn-primary">Delegate 15 SP</a>

    </div>
    <hr>
    <button onclick="window.SteemNinja.close()" class="btn btn-block btn-warning">Thanks! Bye.</button>
</div>